.navbar{
    height:6rem;
    background-color:#0d6efd;
    border-bottom: 2px solid black;



}
/* Media query for screens smaller than 576px (mobile devices) */
@media (max-width: 576px) {
    #col1{
        display: none !important; /* Hide the GIF column on small screens */
        width: 0% !important;
      
    }

.NAV2{
    display: flex ;
    justify-content: center ;
  
}

    #hero{
        display: flex;
        flex-direction: column;
    }
    .side{
        width: 100%;
      
    }
    .img1{
       
        margin: auto;
    }
    #kk{
        margin: 0rem !important;
        padding: 2rem !important;
        width: 0rem !important;
    }
    #kd{
        margin-top: 0rem !important;
        width: 100%;
        text-align: center;

     
    }


    
    }

  
.NAV2{
    display: flex;
}


#nav{
    color: white;
}
#left{
    margin-right: 1rem;
}

#col1{

    height: 100vh;
    background-color: black;
   border-bottom-right-radius: 15rem;
 

}
.side{
    margin-top: 12rem;
}

.h1{
    width: 100px; /* Set the desired width */
    height: auto;
}

.whi{
    font-size: 48px;
    color: white;
}



body{
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
  
   
}

.navbar-brand{
font-size: 2rem;    

}
.img1{
    width: 20rem;
    border-radius: 10rem;
    margin-left: 5rem;
}

#kd{
    display: flex;
  line-height: 2rem;
    flex-direction: column;
    font-size: 20px;
   
  
}